{
  "root": true,
  "extends": [
    "airbnb-base",
    "airbnb-flow",
    "prettier"
  ],
  "plugins": ["flowtype"],
  "parser": "babel-eslint",
  "globals": {
    "global": true,
    "jest": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "func-names": ["error", "as-needed"]
  }
}
